@import url(reset.css)

.container {
	width: 940px;
	margin: 0 auto;
}

.bs-content-sction-header {
	height: 135px;
}

body {
	font: 14px Georgia Arial Tahoma Verdana sana-serif;
	width: 940px;
	margin: 0 auto;
	background: #fff;
}

.bs-content-sction-logo {
	width: 285px;
	height: 75px;
	float: left;
	margin-left: 15px;
	margin-top: 38px;
}

.bs-content-sction-menu {
	float: right;
	margin-top: 40px;
}
.bs-content-sction-menu ul li {
	float: left;
	margin-left: 50px;
	color: #808080;
}

a {
	color: #c1c1c1;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
}

.bs-content-sction-slider {
	height: 425px;
}

.bs-content-sction-background {
	height: 335px;
	float: left;
}

.leftpic {
	position: absolute;
	margin-left: -218px;
	width: 1344px;
}

.bs-content-sction-slide {
	top: 20px;
	margin-top: 160px;
	position: absolute;
	border-bottom: 1px solid #e5e5e5;
	text-transform: none;
	font: 24px Georgia Arial Tahoma Verdana sana-serif;
	text-align:  center;
	font-weight: bold;
}

.bs-content-sction-bullets {
	position: absolute;
	margin: 340px 820px 11px 18px;
}

.bs-content-sction-content-box {
	width: 287px;
	float: left;
	margin-right: 16px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	padding-bottom:35px;
	margin-top: 50px;
}

.bs-content-sction-content-box p {
	padding-left: 6px;
}

.bs-content-sction-content-box h2 {
	margin-top: 25px;
	font-family: Georgia, Arial, Verdana. sans-serif;
	font-size: 21px;
	color: #5e94b4;
	padding-left: 10px;
}

.bs-content-sction-content-box h3 {
	font-family: Times New Roman, Arial, Verdana;
	font-size: 12px;
	color: #c7c7c7;
	padding-left: 10px;
}

.bs-content-sction-content-box p {
	font: 13/18 Arial, Tahoma, Verdana, sans-serif;
	font-weight: bold;
	color: #3e3e3e;
	margin: 22px 0;
}

.bs-content-sction-for-you {
	overflow: visible;
	display:inline-block;
	margin-bottom: 20px;
}

.bs-content-sction-social-sector {
	height: 335px;
	width: 300px;
	float: left;
	padding-right: 15px;
}

.bs-content-sction-social p {
	font: 12px Helvetica, Georgia, Arial, Verdana, sans-serif;
}

h4 {
	border-bottom: 3px dashed #d3d3d3;
	padding-bottom: 10px;
	font: Georgia, Arial, Tahoma, sans-serif;
	font-size: 18px;
  margin-top: 5px;
}

.bs-content-sction-newsletter {
	height: 150px;
	width: 310px;
	padding-top: 20px;
}

.newsletter-button {
	margin-top: 15px;
}

.bs-content-sction-contact-sector {
	height: 335px;
	width: 300px;
	margin: auto;
	display: inline-block;
	padding-right: 15px;
}

.contact-button {
	margin-top: 9px;
}

.bs-content-sction-news-updates {
	width: 310px;
	height: 335px;
	float: right;
	margin: auto;
}

.image1 {
	float: left;
	width: 55px;
	height: 55px;
	padding-right: 8px;
}

.image2 {
	float: left;
	width: 55px;
	height: 55px;
  padding-right: 8px;	
}

.image3 {
	float: left;
	width: 55px;
	height: 55px;
	padding-right: 8px;
}

.bs-content-sction-news-updates {
	padding-bottom: 10px;
}

.bs-content-sction-img1 {
	padding-bottom: 15px;
	border-bottom: 3px dashed #d3d3d3;
}

.bs-content-sction-img2 {
	padding-bottom: 15px;
	border-bottom: 3px dashed #d3d3d3;
}

.bs-content-sction-img3 {
	padding-bottom: 15px;
	border-bottom: 3px dashed #d3d3d3;
}

.blog {
	padding-top: 10px;
}

.bs-content-sction-footer {
	height: 175px;
	width: 100%;
}

.bs-content-sction-footer a p {
	font: 11px Helvetica, Arial, Verdana, sana-serif:
}

.footer-background {
	position: absolute;
	margin-left: -200px;
  width: 1344px;
}

.bs-content-sction-first-line {
	position: relative;
}

.bs-content-sction-second-line {
	position: relative;
}

.footer-text {
	position: relative;
	color: #7d7d7d
}

.right-text {
	position: relative;
	color: #7d7d7d
}